## Load Data to PostgreSQL for Visualization in Metabase

In [3]:
!pip install psycopg2-binary sqlalchemy python-dotenv pandas fastparquet meteostat --quiet

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [4]:
import sys
sys.path.append("/home/jupyter/.local/lib/python3.11/site-packages")
import psycopg2
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [5]:
load_dotenv('/home/jupyter/data/.env')  

POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_DB = os.getenv("POSTGRES_DB")
POSTGRES_HOST = "db"
POSTGRES_PORT = 5432

engine = create_engine(
    f"postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"
)

In [37]:
df = pd.read_parquet("df_Daily.parquet")
ref_table=pd.read_parquet("kz_meteostations_ref.parquet")

In [34]:

ref_table.to_sql('kz_meteostations_ref', engine, if_exists='replace', index=False)

6

In [40]:
df = df.reset_index()

In [41]:
df.to_sql('kz_weather_info_daily', engine, if_exists='replace', index=False)

38

In [8]:
df = pd.read_parquet("foreign_meteostations_daily.parquet")
ref_table=pd.read_parquet("foreign_meteostations_ref.parquet")

In [10]:
ref_table

,id,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end
0,72258,Dallas / Oldham,US,TX,72258,KDAL,32.8471,-96.8518,148.0,America/Chicago,1946-07-26,2025-12-15,1939-08-01,2025-12-10,1939-01-01,2022-01-01
1,72743,Marquette,US,MI,72743,KMQT,46.5333,-87.5500,434.0,America/Detroit,1973-01-01,2025-04-30,1857-09-01,2025-12-08,1857-01-01,2022-01-01
2,01317,Bergen / Florida,NO,HO,01317,None,60.3833,5.3333,12.0,Europe/Oslo,1973-01-01,2025-03-21,1957-01-01,2025-10-31,1957-01-01,2022-01-01
3,08535,Lisboa / Geof,PT,LI,08535,None,38.7167,-9.1500,77.0,Europe/Lisbon,NaT,NaT,1900-12-31,2025-05-19,1901-01-01,2021-01-01
4,47420,Nemuro,JP,HK,47420,None,43.3333,145.5833,25.0,Asia/Tokyo,NaT,NaT,1931-01-01,2025-01-23,1880-01-01,2021-01-01
5,47662,Tokyo,JP,TK,47662,RJTD,35.6833,139.7667,5.0,Asia/Tokyo,1952-12-31,2025-06-17,1951-01-01,2025-04-09,1875-01-01,2021-01-01

In [11]:
df

,time,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,station
0,1950-01-01,16.1,13.3,18.3,0.0,0.0,NaN,6.0,NaN,1022.4,NaN,72258
1,1950-01-02,20.0,17.2,22.2,2.8,0.0,NaN,24.2,NaN,1013.7,NaN,72258
2,1950-01-03,18.0,-0.6,23.9,1.8,0.0,NaN,30.6,NaN,1003.7,NaN,72258
3,1950-01-04,-6.1,-7.8,-0.6,9.9,2.0,NaN,28.9,NaN,1020.6,NaN,72258
4,1950-01-05,-4.4,-6.1,-2.2,0.8,2.0,NaN,17.2,NaN,1022.4,NaN,72258
...,...,...,...,...,...,...,...,...,...,...,...,...
158129,2024-12-28,5.4,1.9,10.5,0.0,NaN,NaN,6.1,NaN,1010.9,NaN,47662
158130,2024-12-29,6.0,0.9,11.3,0.0,NaN,NaN,6.6,NaN,1016.1,NaN,47662
158131,2024-12-30,6.2,3.9,9.6,0.0,NaN,NaN,7.0,NaN,1020.4,NaN,47662
158132,2024-12-31,8.0,3.0,13.8,0.0,NaN,NaN,7.4,NaN,1006.6,NaN,47662
158133,2025-01-01,8.2,4.8,11.4,0.0,NaN,NaN,8.5,NaN,1016.2,NaN,47662

In [12]:
ref_table.to_sql('foreign_meteostations_ref', engine, if_exists='replace', index=False)
df.to_sql('foreing_weather_info_daily', engine, if_exists='replace', index=False)

134